fastapi>=0.115.0
uvicorn[standard]==0.34.0
sqlalchemy==2.0.31
psycopg2-binary
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
minio==7.2.7
scikit-learn
numpy
PyPDF2
python-docx
pydantic==2.8.2
email-validator==2.2.0
python-dotenv==1.1.1
requests>=2.32.4
google-adk==1.0.0
deprecated
litellm
pandas>=2.0.0
openpyxl>=3.1.0